/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End of Meyer reset*/


.main{
    height: 100dvh;
    width: 100dvw;
    display: grid;
    grid-template-columns: 2fr 1fr 0.1fr;
}

.content{
    grid-column: 1/2;
    background-color: black;
}

.carousel{
    position: relative;
    height: 100dvh;
    width: 100%;
}

.slide{
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: center;
    max-height: 100dvh;
    inset: 0;
    opacity: 0;
}

.slide > img{
    display: block;
    max-width: 100%;
    max-height: 60%;
    object-position: center;
}

.carousel-button{
    position:absolute;
    background:none;
    border: none;
    font-size: 4rem;
    top:50%;
    z-index: 2;
    transform: translateY(-50%);
    color: whitesmoke;
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
}
.carousel-button:hover,
.carousel-button:focus{
    color: white;
}

.carousel-button.prev{
    min-height: 1rem;
    left: 1rem;
}
.carousel-button.next{
    min-height: 2rem;
    right: 1rem;
}

.slide[data-active]{
    opacity: 1;
}



.weather{
    grid-column: 2/3;
}

.controls{
    grid-column: 3/4;
    background-color: black;
}


